<configSections>
  <section name="QueryfyDotNet"
           type="JanHafner.Queryfy.Configuration.QueryfyConfigurationSection, JanHafner.Queryfy.Configuration" />
</configSections>
<Queryfy queryParameterValueToValueSeparatorChar="{"
            queryParameterValueSeparatorChar="-"
            queryParametersSeparatorChar="9"
            queryParameterRegexPattern="sdfsdfsdf"
            queryParameterSplitValuesRegexPattern="werwer">
  <Parser>
    <Mappings>
      <TypeMapping sourceType="JanHafner.BF3StatsApiCore.Console.Test, JanHafner.BF3StatsApiCore.Console">
        <PropertyMapping propertyPath="PPP"
                         parameterName="d"
                         valueProcessorType="..." />
      </TypeMapping>
    </Mappings>
  </Parser>
</Queryfy>